In [30]:
import pandas as pd
import numpy as np

df = pd.read_csv('./resources/healthcare-stroke-data.csv')

In [20]:
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [32]:
df['stroke'].unique()

array([1, 0])

In [ ]:
st.write('0--0--0--0--0--0--0--0--0--0--0--0--0--0--0--0--0--0--0--0')

In [ ]:
        df = convert_types(df)
        st.write('convert')
        st.dataframe(df.dtypes)

        df = encoding(df)
        st.write('enco')
        st.dataframe(df.dtypes)

        df = imputer(df)
        st.write('imputer')
        st.dataframe(df.dtypes)

        df = standardize(df)
        st.write('stand')
        st.dataframe(df.dtypes)

        train_set, val_set, test_set = split(df)
        st.write('split')
        st.dataframe(train_set.dtypes)

In [ ]:


                            df_m = pd.read_csv('./DS/ds_models.csv', index_col=0)
                            st.dataframe(df_m)

In [ ]:
def 1df_revision(df):
    col_values_count = {i: df[i].value_counts().shape[0] for i in df.columns}
    col_na = {i: ('ðŸ”´' if df[i].isna().any() == True else '-') for i in df.columns}
    col_isObj = {i:('ðŸŸ¢' if df[i].dtype in ['object', 'category', 'string', 'bool'] else '-') for i in df.columns}
    col_isStand = {i: ('ðŸŸ¢' if df[i].dtype in ['int', 'int64','float', 'float64'] else '-') for i in df.columns}
    col_dtype = {i: df[i].dtype for i in df.columns}
    df_revision = pd.DataFrame([col_values_count, col_na, col_isObj, col_isStand, col_dtype,], index=['Valores Unicos', 'Vacios', 'Codificables', 'Estandarizables', 'Tipo de Dato']).transpose()
    return df_revision